
@model IEnumerable<Modelo.Cadastros.Produto>
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoWeb Store</title>
    <link rel="stylesheet" href="~/css/home/index.css">
</head>
<body>
    <header>
        <h1>
            <img src="~/css/home/imagens/logo.png" alt="Logo InfoWeb Store">
        </h1>
        <nav>
            <ul>
                <li><a href="~/Categorias/Index">Categorias</a></li>
                <li><a href="~/Fabricantes/Index">Fabricantes</a></li>
                <li><a href="~/Produtos/Index">Produtos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="upper">
            <img src="~/css/home/imagens/banner1.png" alt="Temos TUDO para você fazer um churrasco completo!">
        </section>
        <section class="down">
            <h2>Produtos em destaque</h2>
            <br />
        </section>

        <section class="list">
            <div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>Categoria</th>
                                <th>Fabricante</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Destaque == true)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Categoria.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fabricante.Nome)
                                        </td>
                                        <td>
                                            <div>
                                                @if (item.NomeArquivo == null)
                                                {
                                                    <div>
                                                        Nenhuma imagem adicionada
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <img src="@Url.Action("GetLogotipo2", "Produtos", new { id = item.ProdutoId })"
                                                             style="display:block; margin-left:auto; margin-right:auto;" />
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="down">
            <h2>Produtos lançados nos últimos 30 dias</h2>
            <br />
        </section>

        <section class="list">

            <div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>Categoria</th>
                                <th>Fabricante</th>
                                <th>Data de cadastro</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                if (item.DataCadastro.AddDays(30) >= DateTime.Now)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Categoria.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fabricante.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataCadastro)
                                        </td>
                                        <td>
                                            <div>
                                                @if (item.NomeArquivo == null)
                                                {
                                                    <div class="form-control-static">
                                                        Nenhuma imagem adicionada
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <img src="@Url.Action("GetLogotipo2", "Produtos", new { id = item.ProdutoId })" />
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>



    </main>
    <footer>
        <img src="~/css/home/imagens/logoFooter.png" alt="Logo InfoWeb Store">
        <p>Todos os direitos reservados</p>
    </footer>
</body>
</html>